.price-filter {
	color: #bababa;
}
.bp3-menu {
	background-color:#90cdf4;
	list-style: none;
	padding: 1rem;
	cursor: pointer;
}
.filtered-listings {
	color: #bababa;
}
.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
}

.vertical-container {
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
}

.container-right {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: center;
	padding: 10px;
	button {
		margin: 5px;
	}
}
.content-piece {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 250px;
	padding: 10px;
	margin: 10px;
	img {
		height: 100%;
	}
}
.content-card {
	margin: 10px;
	width: 30%;
}
.details-basic {
	flex-grow: 1;
	padding: 10px;
	margin: 10px;
}
.details-description {
	flex-grow: 1;
	padding: 10px;
	margin: 10px;
}
.token-mint {
	width: 100%;
}
.token-details {
	flex-grow: 1;
	padding: 10px;
	margin: 10px;
}
.content-viewer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 10px;
	img {
		width: 100%;
	}
}

.nft-card {
	width: 30vw;
	img {
		width: 100%;
	}
}
.listing-card {
	width: 25vw;
	margin: 15px;
	img {
		width: 100%;
	}
}

.listing-tags {
	flex-basis:  40%;
}

.listing-card-tags {
	padding: 8px;
	border-radius: 5px;
	justify-content: space-evenly;
	a {
		margin:5px;
	}	
}

.listing-page {
	.bp3-card {
		width: 66vw;
	}
}

.nft-image {
	img {
		width: 100%;
	}
}
.nft-display {
	justify-content: center;
	.bp3-card {
		width: 66vw;
	}
}

.nft-details {
	justify-content: space-between;
}
.nft-description {
	justify-content: left;
	width: 50%;
}

.listing-actions {
	justify-content: space-between;
}

.listing-price-edit {
	justify-content: space-between;
	button {
		margin: 5px;
	}
}

.listing-buy {
	align-items: baseline;
}

.portfolio-content {
	justify-content: left;
	width: 66em;
	box-shadow: 0.3em 0.3em #ffffff;
}

.portfolio-name {
	justify-content: left;
	width: 100%;
}